---
layout: rightcol
rightcol_partial: rightcol-downloads.html.haml
title: Downloads
---

%h2 
  See 
  %a{href: "http://teiid.io/teiid_runtimes/teiid_wildfly/downloads/"} teiid.io  
  for the latest downloads.

%p
  %h3 Older Downloads
  %ul
    %li
      %a.td-download{href: "#{site.base_url}/downloads_10x"} 10.x (WildFly 11.0.0 Java 8+)
    %li
      %a.td-download{href: "#{site.base_url}/downloads_9x"} 9.x (WildFly 10.0.0 Java 8+)
    %li
      %a.td-download{href: "#{site.base_url}/downloads_900"} 9.0 (WildFly 9.0.2 Java 7+)
    %li
      %a.td-download{href: "#{site.base_url}/downloads_813"} 8.13 (WildFly 9.0.2 Java 7+)
    %li
      %a.td-download{href: "#{site.base_url}/downloads_812"} 8.12 (EAP 6.4 Alpha Java 6+)
    %li
      %a.td-download{href: "http://sourceforge.net/projects/teiid/files/teiid/"} 8.11 and prior 
